/* FONTS */

@font-face {
  font-family: 'Commissioner', sans-serif;
  font-weight: 400;
  src: url('./fonts/Commissioner-Regular.woff2') format('woff2');
  src: url('./fonts/Commissioner-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Commissioner', sans-serif;
  font-weight: 500;
  src: url('./fonts/Commissioner-SemiBold.woff2') format('woff2');
  src: url('./fonts/Commissioner-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Commissioner', sans-serif;
  font-weight: 700;
  src: url('./fonts/Commissioner-Bold.woff2') format('woff2');
  src: url('./fonts/Commissioner-Bold.woff') format('woff');
}

/* CSS CUSTOM PROPERTIES */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(0, 0%, 48%);
  --clr-netural-800: hsl(0, 0%, 0%);

  --clr-accent-400: hsl(176, 50%, 47%);
  --clr-accent-500: hsl(176, 72%, 28%);
}

/* CSS RESET */

/* GLOBAL STYLES */

/* UTILITY */

/* COMPONENTS */
